{% extends 'blog/base.html' %}
{% block title %}Post Form {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <h2>
        <center>My post</center>
    </h2>
    <hr>
    <form method="post">

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-6">
                <div class="form-group">{% csrf_token %}
                    {{ form | crispy}}
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}